* {
    font-family: 'Courier';
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*Auth*/
.login-main {
    background-color: #455fbc;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.login-container {
    width: 50vw;
    margin: auto;
    border: 5px solid #113286;
    padding: 5%;
    background-color: white;
}

.login-container h2 {
    text-align: center;
}

.login-form-group {
    margin-bottom: 2vh;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

.login-form-group label,
input {
    width: 100%;
}

.login-form-btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.login-form-btn {
    color: white;
    width: 15vw;
    background-color: #113286;
    min-height: fit-content;
    height: 100%;
    border-radius: 8px;
}

.login-form-btn:hover {
    color: white;
    background-color: #234198;
    border: none;
}

.login-form-link {
    width: 15vw;
    text-decoration: none;
    color: inherit;
}

.login-form-link:hover {
    text-decoration: none;
    color: inherit;
    border: none;
    width: 15vw;
}

/*common*/
header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    color: #113286;
    width: 100vw;
    border-bottom: 1vh #113286 solid;
    justify-self: start;
    padding-left: 2vw;
    padding-right: 2vw;
}

.header-left {
    display: flex;
    align-items: flex-start;
    max-width: 50%;
    width: fit-content;
    text-decoration: none;
    color: inherit;
}

.header-left:hover {
    color: inherit;
}

.header-logo {
    width: 8vh;
}

.header-name {
    font-size: 60px;
    font-weight: bold;
}

.header-right {
    display: flex;
    justify-content: end;
    min-width: fit-content;
    width: 50%;
    margin-right: 2vw;
}

.header-btn {
    min-width: fit-content;
    width: 100%;
    background-color: #113286;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 8px;
}

.header-btn:hover {
    color: white;
    background-color: #234198;
    border: none;
}

.header-link {
    margin-left: 2vw;
    width: fit-content;
    min-width: max-content;
    text-decoration: none;
    color: inherit;
}

.header-link:hover {
    text-decoration: none;
    color: inherit;
    border: none;
}

.lateral-menu-container {
    min-width: max-content;
    width: 12vw;
    min-height: max-content;
    height: 90vh;
    background-color: #455fbc;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    border-right: 1vh #113286 solid;
}

.lateral-menu-up,
.lateral-menu-down {
    display: flex;
    flex-direction: column;
}

.lateral-menu-btns {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

}

.lateral-data {
    text-align: center;
    padding-bottom: 1vh;
}
.lateral-data img {
    width: 12vw;
}
.lateral-data input {
    text-align: center;
    width: 4vw;
}
.lateral-data h3 input {
    
    width: 10vw;
}
.lateral-data-points {
    display: inline-flex;
}

.lateral-data-points h5 {
    width: fit-content;
    margin: 2px;

}

.lateral-btn {
    width: 100%;
    background-color: #113286;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin: auto;
    margin-top: 2%;
}

.lateral-btn:hover {
    color: white;
    background-color: #234198;
    border: none;
}

.lateral-link {
    width: fit-content;
    min-width: max-content;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.lateral-link:hover {
    text-decoration: none;
    color: inherit;
}

.btn-icon {
    align-self: center;
    margin-bottom: 2px;
    font-size: large;
}

.dice-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dice-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    min-width: 15vw;
    overflow: auto; 
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
} 

.dice-result{
    display: flex;
    justify-content: space-around;
    padding: 2vh;
    align-items: center;

}
.dice-result h4{
    width: 3vh;
    height: 3vh;
    font-size: xx-large;
    font-weight: bold;
}
.dice-roll{
    background-color: #7e90d4;
    align-self: center;

}
.dice-modal-content button{
    text-transform: uppercase;
}
.spell-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spell-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    min-width: 15vw;
    overflow: auto; 
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
} 
.spell-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spell-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    min-width: 15vw;
    overflow: auto; 
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
} 

.spell-result{
    display: flex;
    justify-content: space-around;
    padding: 2vh;
    align-items: center;

}
.spell-modal-content h4{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.spell-modal-content button{
    text-transform: uppercase;
}

.spell-roll{
    background-color: #7e90d4;
    justify-self: center;
    width: fit-content;
    padding: 1vh;
    margin: auto;

}


/*---Welcome---*/
.background{
    background-color: #ffffe8; 
    padding: 1vh;
}
.welcome-container {
    background-color: #fff;
    height: 88vh;
    padding: 2vh;
    width: 90%;
    margin: auto;

    border: 1px solid black;
}
.welcome-info{
    margin-top: 3vh;
}
.welcome-info h2{
    margin-bottom: 2vh;
}
.welcome-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.welcome-link {
    min-width: max-content;
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

.welcome-link:hover {
    text-decoration: none;
    color: inherit;
}

.welcome-btn {
    margin-top: 3vh;
    width: 15vw;
    background-color: #113286;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 8px;
}

.welcome-btn:hover {
    color: white;
    background-color: #234198;
    border: none;
}



/*Sheets*/
.main-sheet-list {
    text-align: center;
    width: 100%;
    height: 84vh;
    background-color: #ffffe8;
    border-radius: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.sheet-list-container {
    width: 90%;
    margin: auto;
    background-color: white;
    min-width: fit-content;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
}

.sheet-list-group-title {
    display: flex;
    background-color: #234198;
    justify-content: space-evenly;
    font-weight: bolder;
    font-size: x-large;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
}

.sheet-list-group {
    display: flex;
    font-weight: bold;
    font-size: large;
    justify-content: space-evenly;
}

.sheet-list-group:hover {
    background-color: #faf8f5;
}

.sheet-list-item {
    width: 30%;
    padding: 2vh;
    align-content: center;
    
}

.sheet-list-btn {
    color: white;
    width: fit-content;
    background-color: #113286;
    border-radius: 8px;
    border: none;
    margin-left: 2%;
}

.sheet-list-btn:hover {
    color: white;
    background-color: #234198;
    border: none;
}


/*---Menus Superiores---*/
nav {
    width: 100%;
    height: max-content;
    background-color: #455fbc;
    padding: 1vh;
    justify-content: space-evenly;
    display: flex;
    margin: auto;
}

.menu-btn {
    color: white;
    width: 15vw;
    background-color: #113286;
    min-height: fit-content;
    height: 100%;
    border-radius: 8px;
    border: none;
}

.menu-btn:hover {
    color: white;
    background-color: #234198;
    border: none;
}

.menu-link {
    width: 15vw;
    text-decoration: none;
    color: inherit;
    border: none;
}

.menu-link:hover {
    text-decoration: none;
    color: inherit;
    border: none;
    width: 15vw;
}

/*---------------CharacterSheet------------*/
.sheet-data-main {
    display: flex;
    height: 90vh;
}

.sheet-data-main h2 {
    font-weight: bolder;
}

.sheet-data-main h3 {
    font-weight: bolder;
}

.sheet-data-main h5 {
    font-weight: bolder;
}

.sheet-data-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-transform: uppercase;
    background-color: #ffffe8;

}

.sheet-data {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sheet-data-stress {
    margin-top: 1vh;
    border: 1px solid black;
    width: 95%;
    padding: 1vh;
    background-color: white;
}

.data-stress {
    display: flex;
    margin-bottom: 1vh;
}

.data-stress input,
label {
    width: 20%;
}

.data-stress input[type="checkbox"] {
    appearance: none; 
    width: 2vh;
    height: 2vh;
    margin: auto;
    background-color: #fff; 
    border: 2px solid #ddd; 

}

.data-stress input[type="checkbox"]:checked {
    background-color: #455fbc; /* Color de fondo cuando está marcado */
    border-color: #113286; /* Color del borde cuando está marcado */
}
.edit-consecuences{
    margin-top: 1vh;
    border: 1px solid black;
    width: 95%;
    padding: 1vh;
    background-color: white;
}
.sheet-data-consecuences {
    margin-top: 1vh;
    border: 1px solid black;
    width: 95%;
    padding: 1vh;
    background-color: white;
}
.sheet-data-consecuence h2 {
    margin-top: 5vh;
    border: 1px solid black;
    width: 95%;
    padding: 1vh;
    background-color: white;
}
.data-consecuences {
    display: flex;
    width: 100%;
    margin-bottom: 1%;
    background-color: white;
}

.data-consecuences label {
    display: flex;
    width: 40%;
    min-width: fit-content
}

.data-consecuences label span {
    margin-right: 3px;
    margin-left: 3px;
    border: 1px solid black;
    text-align: center;
    width: 2vw;
}

.input-consequences {
    width: 60%;
    margin: auto;
}

/*Estilos*/
.sheet-data-estilos {  
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-top: 1vh;
    padding: 1vh;
    background-color: white;
}
.data-estilos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
}
.estilo {
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
    width: 90%;
    border-bottom: 1px solid black;
}

.estilo-name {
    width: 50%;
    min-width: fit-content;
    align-content: center;
    font-weight: bolder;
}

.estilo-value {
    width: fit-content;
    min-width: fit-content;
    font-weight: bolder;
    align-content: center;
}

.estilo button {
    width: fit-content;
    min-width: fit-content;
    color: white;
    background-color: #113286;
    height: fit-content;
    border-radius: 8px;
    border: none;
    font-size: large;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    align-content: center;
}

.estilo button:hover {
    color: white;
    background-color: #234198;
    border: none;
}

/*Aspectos*/
.sheet-data-aspectos {
    margin-top: 1vh;
    border: 1px solid black;
    width: 90%;
    padding: 1vh;
    background-color: white;
}

.aspecto-box {
    margin-bottom: 2%;
    width: 95%;
}
.aspecto-box textarea{
    margin-bottom: 2%;
    width: 100%;
    min-height: 6vh;
}
.aspecto {
    border: 1px solid black;
    min-height: 8vh;
    width: 95%;
}
.aspectos {
    border: 1px solid black;
    min-height: 8vh;
    width: 95%;
}
.aspectos input{
    border: 0,5px;
}

/*Proezas*/
.sheet-data-proezas {
    margin-top: 1vh;
    border: 1px solid black;
    width: 90%;
    padding: 1vh;
    background-color: white;
}
.edit-data-proezas {
    margin-top: 1vh;
    border: 1px solid black;
    width: 95%;
    padding: 1vh;
    background-color: white;
}
.proeza {
    border: 1px solid black;
    width: 90%;
}
.proeza-empty{
    min-height: 2vh;
}

/*Wands*/
.sheet-data-wand {
    margin-top: 1vh;
    border: 1px solid black;
    width: 95%;
    padding: 1vh;
    background-color: white;
}

.edit-data-wand {
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.edit-data-wand select{
    width: 90%;
    height: 3vh;
    font-size: x-large;
}

.wand-info {
    border: 1px solid black;
    padding: 1vh;
}

.wand-info div {
    margin-bottom: 1%;
}
/*Hechizos*/
.sheet-data-spells {  
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-top: 1vh;
    padding: 1vh;
    background-color: white;
}
.spell-list-group{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 1fr 1fr;
    border-bottom: 1px solid black;
    padding: 1%;
    align-items: center;
}
.spell-list-item{
    margin: auto;
    width: 100%;
    padding-left: 1vw ;
    text-align: center;
    
}

.spell-list-group button {
    width: fit-content;
    min-width: fit-content;
    color: white;
    background-color: #113286;
    height: fit-content;
    border-radius: 8px;
    border: none;
    font-size: large;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    align-content: center;
    margin-left: 2vw;
}
.spell-btn {
    width: 30%;
    background-color: #113286;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin: 1%;
    text-transform: uppercase;
}

.spell-btn:hover {
    color: white;
    background-color: #234198;
    border: none;
}
.spell-add{
    text-transform: uppercase;
}
.spell-select{
    width: 30%;
    height: 3vh;
    font-size: large;
    
}

/*Notes*/
.sheet-data-notes{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-top: 1vh;
    padding: 1vh;
    background-color: white;
}
.notes-list{
    background-color: white;
    display:  grid;
    grid-template-columns: repeat(3, 1fr);

}
.note-item{
    border: 1px solid black;
    margin: 1%;
    min-height: 8vh;
    text-align: center;
    padding: 1%;
}
.note-btn {
    width: 30%;
    background-color: #113286;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin: 1%;
}

.note-btn:hover {
    color: white;
    background-color: #234198;
    border: none;
}
.add-note{
    display: flex;
    margin-bottom: 2vh;
}
.add-note textarea{
    width: 75%;
    margin: auto;
}


/* Media Query para pantallas pequeñas */

/*common*/
@media only screen and (max-width: 900px) {
    header .site-name {
        display: none;
    }
}