.main-list{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    background-color: #f7ead0;
    border-radius: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.sheet-list-container{
    background-color: white;
    min-width: fit-content;
}
.sheet-list-group-title{
    display: flex;
    background-color: #f7ead0;
    justify-content: space-evenly;
    font-weight: bolder;
    font-size: x-large;
}
.sheet-list-group{
    display: flex;
    justify-content: space-between;
}
.sheet-list-group:hover{
    background-color: #faf8f5;
}
.sheet-list-item{
    width: 30%;
    padding: 2vh;
}
.sheet-list-btn{
    width: 5%;
    padding: 2vh;
}


/*---Menu Superior---*/
nav{
    width: 100vw;
    background-color: #455fbc;
    padding: 2vh;
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
justify-self: start;
}
.link-btn{
    width: fit-content;
}
.form-btn{
    color: white;
    min-width: 15vh;
    max-width: 30vh;
    background-color: #113286;
}