.body{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    background-color: #f7ead0;
    border-radius: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
table{
    background-color: white;
}
.rowTable:hover{
    background-color: #faf8f5;
}
.listItem{
    padding: 2vh;
}
.listButton{
    max-width: 5%;
}
th{
    font-size: 30px;
    background-color: #ffffe8;
}
.listButton button{
    background-color: #113286;
    color: white;
}
.listButton button:hover{
    background-color: #234198;
}
.listName{
    width: 20%;
}
.listDesc{
    width: 70%;
}

/*---Menu Superior---*/
nav{
    width: 100vw;
    background-color: #455fbc;
    padding: 2vh;
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10vh;
}
.link-btn{
    width: fit-content;
}
.form-btn{
    color: white;
    min-width: 15vh;
    max-width: 30vh;
    background-color: #113286;
}