.body{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    background-color: #f7ead0;
    border-radius: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
table{
    background-color: white;
}
.rowTable:hover{
    background-color: #faf8f5;
}
.listItem{
    padding: 2vh;
}
.listButton{
    max-width: 5%;
}
th{
    font-size: 30px;
    background-color: #ffffe8;
}
.listButton button{
    background-color: #113286;
    color: white;
}
.listButton button:hover{
    background-color: #234198;
}
.listName{
    width: 20%;
}
.listDesc{
    width: 70%;
}