header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    color: #113286;
    width: 100vw;
    border-bottom: 1vh #113286 solid;
    justify-self: start;
    padding-left: 2vw;
    padding-right: 2vw;
}

header .left {
    display: flex;
    align-items: flex-start;
    width: 50%;
}

header .logo {
    width: 8vh;
}

header .site-name {
    font-size: 60px;
    font-weight: bold;
    cursor: default;
}

header .right {
    display: flex;
    justify-content: end;
    min-width: fit-content;
    width: 50%;
    margin-right: 2vw;
}

header .headerButton {
    margin-right: 10px;
    min-width: fit-content;
    width: 5vw;
    padding: 10px;
    background-color: #113286;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .headerButton:hover {
    background-color: #234198;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:any-link {
    text-decoration: none;
    color: white;
}

a:any-link:hover {
    text-decoration: none;
    color: white;
}

/* Media Query para pantallas pequeñas */
@media only screen and (max-width: 900px) {
    header .site-name {
        display: none;
    }
}